terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/main.tfvars
terraform/terraform.tfvars
terraform/user_data_old.sh